extends ./template/layout.pug

block title
  title :: circles CUTUS ::
block append favicons
block append font
block append css
block append script
block nav
  include include/nav.pug
block header
  include include/header.pug
block section
  include include/join.pug
  include include/work.pug
  include include/about.pug
  include include/achievements.pug
  include include/member.pug
  include include/social.pug
block footer
  include include/footer.pug

