#about-section
  .container
    .section-title.text-center.center
      h2 동아리 소개 
      hr
      .clearfix
      p 대학생 4명이 2008년도에 서울 어느 당구장에서 당구 각도를 보고 동아리를 기획하고, 함께 사이언스적인 소통을 이어오고 있습니다.
    .row
      .col-md-6
        img.img-responsive(src='public/img/about.jpg')
      .col-md-6
        .about-text
          h4 뭐하는 동아리 입니까? 
          p 
            | 실제동아리 활동이 이루어진적이 없어서 모르겠습니다. 내용을 입력하시면 될것 같습니다.
            | 실제동아리 활동이 이루어진적이 없어서 모르겠습니다. 내용을 입력하시면 될것 같습니다.
            | 실제동아리 활동이 이루어진적이 없어서 모르겠습니다. 내용을 입력하시면 될것 같습니다.
          h4 들어가면 무엇을 해야하나요?
          p 
            | 모집이 되면 아마 알게되지 않을까 싶습니다. 그래서 여기는 내용을 적는 곳입니다.
            | 모집이 되면 아마 알게되지 않을까 싶습니다. 그래서 여기는 내용을 적는 곳입니다.
            | 모집이 되면 아마 알게되지 않을까 싶습니다. 그래서 여기는 내용을 적는 곳입니다.