#achievements.section.dark-bg
  .container
    .row
      .col-md-3.col-sm-3
        .achievement-box
          span.count 210
          h4 Happy clients
      .col-md-3.col-sm-3
        .achievement-box
          span.count 9,500
          h4 Working hours
      .col-md-3.col-sm-3
        .achievement-box
          span.count 590
          h4 Projects completed
      .col-md-3.col-sm-3
        .achievement-box
          span.count 14
          h4 Awards won