#contact-section.text-center
  .container
    .section-title.center
      h2 Contact Us
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    .col-md-8.col-md-offset-2
      .col-md-4
        i.fa.fa-map-marker
        p
          | 4321 California St,
          br
          | San Francisco, CA 12345
      .col-md-4
        i.fa.fa-envelope-o
        p info@company.com
      .col-md-4
        i.fa.fa-phone
        p +1 123 456 1234
      hr
      .clearfix
    .col-md-8.col-md-offset-2
      h3 Leave us a message
      form#contactForm(name='sentMessage', novalidate='')
        .row
          .col-md-6
            .form-group
              input#name.form-control(type='text', placeholder='Name', required='')
              p.help-block.text-danger
          .col-md-6
            .form-group
              input#email.form-control(type='email', placeholder='Email', required='')
              p.help-block.text-danger
        .form-group
          textarea#message.form-control(name='message', rows='4', placeholder='Message', required='')
          p.help-block.text-danger
        #success
        button.btn.btn-default(type='submit') Send Message