#footer
  .container
    .fnav
      p
        | Copyright © CATUS. Designed by
        a(href='http://www.templatewire.com', rel='nofollow')  TemplateWire
      p
        span Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>