header.text-center(name='home')
  .intro-text
    h1
      a.page-scroll(href="#services-section")
        strong  CATUS Circles 
    p 사이언스 동아리 CATUS에 오신걸 환영합니다. 
    a.btn.btn-default.btn-lg.page-scroll(href='#services-section')  동아리 가입하기 