#services-section.text-center
  .container
    .section-title.center
      h2 Join CATUS Circles. 
      hr
      .clearfix
      p 10년 전통의 사이언스 동아리 CATUS에서 함께할 멤버를 찾습니다. 
    .space
    .row
      .col-md-6.col-sm-6.service
        i.fa.fa-comments-o
        h4 실시간채팅 가입문의 
        p 하단에 실시간채팅 문의하기를 클릭하고, 문의 남겨주세요.
        p ex) 동아리 가입하고 싶어서 연락드렸습니다.
      .col-md-6.col-sm-6.service
        i.fa.fa-envelope-o
        h4 이메일 가입문의 
        p abcdefg@gmail.com 으로 이메일 가입문의 해주세요.
        p ex) title : 이름/나이/직업/지역 , content: 동아리 가입하고 싶어서 연락드렸습니다.