#team-section.text-center
  .container
    .section-title.center
      h2 핵심멤버 
      hr
      p CATUS의 핵심멤버를 소개합니다.
    #row
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/01.jpg', alt='...')
          .caption
            h3 발명왕 
            p 회장 / 3기 
            p 동아리 회원들을 위해 이몸 다해 힘껏 일하고 있습니다. 앞으로도 더욱 발전하는 모습보여드리겠습니다.
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/02.jpg', alt='...')
          .caption
            h3 연구왕 
            p 연구선임 / 4기 
            p 동아리 회원들을 위해 이몸 다해 힘껏 일하고 있습니다. 앞으로도 더욱 발전하는 모습보여드리겠습니다.
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/03.jpg', alt='...')
          .caption
            h3 회계왕 
            p 회계인 / 2기 
            p 동아리 회원들을 위해 이몸 다해 힘껏 일하고 있습니다. 앞으로도 더욱 발전하는 모습보여드리겠습니다.
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/04.jpg', alt='...')
          .caption
            h3 활동왕 
            p 행동대장 / 3기 
            p 동아리 회원들을 위해 이몸 다해 힘껏 일하고 있습니다. 앞으로도 더욱 발전하는 모습보여드리겠습니다.