#services-section.text-center
  .container
    .section-title.center
      h2 Our Services
      hr
      .clearfix
      p Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus. Eleifend pellentesque natoque faucibus magna ut etiam.
    .space
    .row
      .col-md-3.col-sm-6.service
        i.fa.fa-desktop
        h4 Web Design
        p Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.
      .col-md-3.col-sm-6.service
        i.fa.fa-gears
        h4 App Development
        p Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.
      .col-md-3.col-sm-6.service
        i.fa.fa-rocket
        h4 Branding
        p Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.
      .col-md-3.col-sm-6.service
        i.fa.fa-line-chart
        h4 Marketing
        p Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.