#team-section.text-center
  .container
    .section-title.center
      h2 Meet the Team
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    #row
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/01.jpg', alt='...')
          .caption
            h3 John Doe
            p Founder / CEO
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/02.jpg', alt='...')
          .caption
            h3 John Doe
            p Founder / CEO
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/03.jpg', alt='...')
          .caption
            h3 John Doe
            p Founder / CEO
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .col-md-3.col-sm-6.team
        .thumbnail
          img.img-circle.team-img(src='public/img/team/04.jpg', alt='...')
          .caption
            h3 John Doe
            p Founder / CEO
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.