#works-section
  .container
    .section-title.text-center.center
      h2 Our Portfolio
      hr
      .clearfix
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
    .categories
      ul.cat
        li
          ol.type
            li
              a.active(href='#', data-filter='*') All
            li
              a(href='#', data-filter='.web') Web Design
            li
              a(href='#', data-filter='.app') App Development
            li
              a(href='#', data-filter='.branding') Branding
      .clearfix
    .row
      .portfolio-items
        .col-sm-6.col-md-3.col-lg-3.web
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/01.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/01.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.app
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/02.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small App Development
                  .clearfix
                img.img-responsive(src='public/img/portfolio/02.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.web
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/03.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/03.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.web
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/04.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/04.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.app
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/05.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small App Development
                  .clearfix
                img.img-responsive(src='public/img/portfolio/05.jpg', alt='Project Title')
          h4 Why Choose Us
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.
        .col-sm-6.col-md-3.col-lg-3.branding
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/06.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Branding
                  .clearfix
                img.img-responsive(src='public/img/portfolio/06.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.branding.app
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/07.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small App Development, Branding
                  .clearfix
                img.img-responsive(src='public/img/portfolio/07.jpg', alt='Project Title')
          h4 Why Choose Us
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.
        .col-sm-6.col-md-3.col-lg-3.web
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/08.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/08.jpg', alt='Project Title')
          h4 Why Choose Us
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.