#works-section
  .container
    .section-title.text-center.center
      h2 동아리 포트폴리오
      hr
      .clearfix
      p 10년동안의 결과를 사진으로 포트폴리오를 적어봤습니다. 
    .categories
      ul.cat
        li
          ol.type
            li
              a.active(href='#', data-filter='*') 모든
            li
              a(href='#', data-filter='.a')  개발작품
            li
              a(href='#', data-filter='.b')  PPT
            li
              a(href='#', data-filter='.c')  서비스아이템
      .clearfix
    .row
      .portfolio-items
        .col-sm-6.col-md-3.col-lg-3.a
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/01.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/01.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.c
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/02.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/02.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.a
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/03.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/03.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.b.c
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/04.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/04.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.c
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/05.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/05.jpg', alt='Project Title')
        .col-sm-6.col-md-3.col-lg-3.a
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/03.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/03.jpg', alt='Project Title')
          h4 제목 
          p 내용입력란..입력란
        .col-sm-6.col-md-3.col-lg-3.b.c
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/06.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/06.jpg', alt='Project Title')
          h4 제목 
          p 내용입력란..입력란
        .col-sm-6.col-md-3.col-lg-3.c.a
          .portfolio-item
            .hover-bg
              a(href='public/img/portfolio/07.jpg', rel='prettyPhoto')
                .hover-text
                  h4 Project Title
                  small Web Design
                  .clearfix
                img.img-responsive(src='public/img/portfolio/07.jpg', alt='Project Title')
          h4 제목 
          p 내용입력란..입력란